<div class="Container">
  <app-sidebar
    class="sidebar"
    (DateSelection)="selectDate($event)"
    (DoctorsSelection)="selectDoctors($event)"
    (PatientSelection)="selectPatient($event)"
    [SelectedDoctors]="SelectedDoctors.getValue()"
    [doctors]="doctors.getValue()"
    [patients]="patients"
  >
  </app-sidebar>
  <app-schedule
    class="schedule"
    (setDaysToDisplay)="setDaysToDisplay($event)"
    (setAppointment)="setAppointment($event)"
    (appointmentDeleted)="deleteAppointment($event)"
    [selectedDate]="SelectedDate"
    [patients]="patients"
    [patientSelected]="SelectedPatient"
    [doctorsFormatted]="doctorsFormatted"
    [isDoctorsSelected]="SelectedDoctors.getValue() && SelectedDoctors.getValue().length > 0"
  >
  </app-schedule>
</div>
