.sidebar {
  display: block;
  float: left;
  width: 280px;
  height: 100vh;
  background-color: #e8e8eb;
}
.schedule {
  display: block;
  width: auto;
  height: 100vh;
  margin-left: 280px;
}
.Container {
}
