<div class="Doctors">
  <a>СПЕЦИАЛИСТЫ</a>
  <app-dropdown-options-list [Disabled]="false" (selectedOption)="handleDropDownOptions($event)" [OptionsNames]="['Выбрать все', 'Отменить все выбранные']"> </app-dropdown-options-list>
  <app-searchbox (elementSelected)="doctorFound($event)" [table]="doctors" [searchFields]="['name', 'speciality']" [displayFields]="['name']"></app-searchbox>
</div>
<div [class]="listStructure == 'spec'?'ListStructureToggleButtons':'ListStructureToggleButtonsSelected'" (click)="changeStructure('spec')">
  по специальностям
</div><div [class]="listStructure == 'ab'?'ListStructureToggleButtons':'ListStructureToggleButtonsSelected'" (click)="changeStructure('ab')">
  по алфавиту
</div>
<div class="DocsContainer" *ngIf="doctors.length > 0">
  <form [formGroup]="doctorsCheckList" *ngIf="listStructure == 'ab'">
    <div class="BorderBottom" [id]="'doctorBlock' + doctor.id" *ngFor="let doctor of doctors">
      <input type="checkbox" [id]="'doctor' + doctor.id" [formControlName]="doctor.id"/>
      <label [for]="'doctor' + doctor.id">
        <a>{{doctor.name}}</a>
        <br>
        <a>Каб. {{doctor.cabinet}}</a>
        <br>
        <a>{{doctor.speciality}}</a>
      </label>
    </div>
  </form>
  <form [formGroup]="doctorsCheckList" *ngIf="listStructure == 'spec'">
    <div *ngFor="let category of doctorsCategorized">
      <div class="BorderBottom">
      <input #categoryToggle (change)="toggleCategoryState(category, $event)" type="checkbox"/>
        <label>
          <a>{{category.category_name}}</a>
        </label>
      </div>
      <div class="Suboption" [id]="'doctorBlock' + doctor.id" *ngFor="let doctor of category.doctors">
        <input type="checkbox" [id]="'doctor' + doctor.id" [formControlName]="doctor.id"/>
        <label [for]="'doctor' + doctor.id">
          <a>{{doctor.name}}</a>
          <br>
          <a>Каб. {{doctor.cabinet}}</a>
        </label>
      </div>
    </div>
  </form>
</div>
