.ListStructureToggleButtons {
  width: 50%;
  display: inline-block;
  background-color: #FFFFFF;
  cursor: pointer;
}
.ListStructureToggleButtonsSelected {
  width: 50%;
  display: inline-block;
  background-color: #e8e8eb;
  cursor: pointer;
}
.Doctors {
  padding: 10px 0 10px 0;
}
.DocsContainer {
  margin: 10px;
  background-color: #FFFFFF;
  overflow-y: scroll;
  position: relative;
}
.Suboption {
  width: 100%;
  padding: 0 0 0 5%;
  border-bottom: 1px solid black;
}
.Suboption label {
  max-width: 85%;
}
.BorderBottom {
  border-bottom: 1px solid black;
  min-height: 60px;
}
input {
  display: inline-block;
  width: 15px;
  height: 15px;
}
