<a>ПАЦИЕНТ</a>
<app-dropdown-options-list [Disabled]="!SelectedPatient"  [OptionsNames]="['Завершить работу с пациентом']" (selectedOption)="deselectPatient()"></app-dropdown-options-list>
<app-searchbox [displayFields]="['name','OMS']" [searchFields]="['name','OMS']" [table]="patients" (elementSelected)="selectPatient($event)" *ngIf="!SelectedPatient"> </app-searchbox>
<div *ngIf="SelectedPatient">
  <a>
    {{SelectedPatient.name}}
    <br>
    {{SelectedPatient.birthdate}} г.р.
    <br>
    Полис ОМС:{{SelectedPatient.OMS}}
  </a>
</div>

