<a>ДАТА ЗАПИСИ</a>
<div #CalendarContainer>
  <input
      ngbDatepicker
      [startDate]="dateToNgbDate(currentDate)"
      [(ngModel)]="calendarModel"
      [disabled]="!calendarEnabled"
      type="text"
  />
  <div class="Calendar" *ngIf="calendarVisible">
    <ngb-datepicker
      [minDate]="dateToNgbDate(currentDate)"
      [maxDate]="dateToNgbDate(maxDate)"
      [markDisabled]="isDisabled"
      [dayTemplate]="customDay"
      [startDate]="dateToNgbDate(currentDate)"
      [(ngModel)]="calendarModel"
      class="NgbCalendar"
    >
    </ngb-datepicker>
    <div class="ControlButtons">
      <button (click)="setDate()">ОК</button>
      <button (click)="discardDate()">Отмена</button>
    </div>
  </div>
  <button
    class="CalendarOpenButton"
    (click)="toggleCalendar()"
    *ngIf="calendarEnabled"
  >
  </button>
  <button
    class="CalendarOpenButton"
    ngbTooltip="Выберите доступный ресурс"
    *ngIf="!calendarEnabled"
  >
  </button>
</div>
<ng-template #customDay let-date="date" let-currentMonth="currentMonth" let-selected="selected" let-disabled="disabled" let-focused="focused">
  <span class="custom-day" [class.highlighted]="dateHighlighted(date)" [class.focused]="focused"
        [class.bg-primary]="selected" [class.hidden]="date.month !== currentMonth" [class.text-muted]="disabled">
    {{ date.day }}
  </span>
</ng-template>
