.CalendarOpenButton {
  width: 50px;
  height: 30px;
  position: relative;
  top: 7px;
}
.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  width: 2rem;
}
.custom-day:hover {
  background-color: #e6e6e6;
}
.highlighted {
  background-color: #b3e3ef;
}
.hidden {
  display: none;
}
.disabled {
  background-color: #e6e6e6;
}
.text-muted {
  background-color: #e6e6e6;
}
.Calendar {
  left: 0;
  top: 172px;
  position: absolute;
  z-index: 999;
  background-color: white;
  border: 1px solid #949494;
  border-radius: 3px;
  width: 232px;
  text-align: center
}
.NgbCalendar {
  border: none;
}
.ControlButtons {
  display: inline-block;
}
