.VerticalContainer {
  width: 150px;
  display: inline-block;
  margin: 0 5px 0 5px;
  vertical-align: top;
  white-space:normal;
}
.rangeUnit {
  width: 150px;
  border-bottom: 1px dashed black;
  height: 30px;
  background-color: #e6e6e6;
  line-height: 30px;
  display: inline-block;
  cursor: pointer;
}
.rangeUnit:hover {
  background-color: #949494;
}
.NotAvailable {
  height: 60px;
  width: 150px;
  border-bottom: 1px dashed black;
  background-color: #949494;
  line-height: 30px;
  display: inline-block;
}
.ColumnHeader {
  text-align: center;
  height: 30px;
  line-height: 30px;
  color: white;
  background-color: black;
  border-radius: 5px 5px 0 0;
  border: 0 solid black;
  width: 150px;
  display: inline-block;
}
.DescriptionContainer {
  min-height: 200px;
  text-align: center;
  width: 150px;
  display: inline-block;
}
.Appointment {
  height: 30px;
  line-height: 30px;
  background-color: #EBA740;
  border-bottom: 1px dashed black;
  width: 150px;
  display: inline-block;
  cursor: pointer;
}
.Appointment .Text {
  display: inline-block;
  max-width: 35%;
  height: 30px;
  overflow: hidden;
}
.Appointment .TextLong {
  display: inline-block;
  height: 30px;
  overflow: hidden;
}
.Description {
  background-color: #A4C589;
}
.Header {
  width: 100%;
  height: 50px;
  background-color: black;
  display: block;
}
.Container {
  margin-top: -50px;
  padding-top: 50px;
  height: 100%;
}
.ScrollableContainer {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: scroll;
  white-space:nowrap;
}
.ScrollingContainer{
  display: inline;
}
.confirm {
  width: 100px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}
.dismiss {
  cursor: pointer;
  display:block;
}
.ConfirmContainer{
  text-align: center;
}
.Empty {
  text-align: center;
}
.EmptyText {
  margin-top: 300px;
  margin-left: auto;
  margin-right: auto;
}
