<app-header (setDaysToDisplay)="passDays($event)"  class="Header"> </app-header>
<div class="Container">
  <div class="ScrollableContainer" *ngIf="doctorsFormatted && doctorsFormatted.length > 0">
    <div class="VerticalContainer" *ngFor="let doctor of doctorsFormatted">
      <div class="ColumnHeader">
        {{formatDate(doctor.timeRanges[0].start)}}
      </div>
      <div class="DescriptionContainer">
        <div>{{doctor.doctor.name}}</div>
        <div>{{doctor.doctor.speciality}}</div>
        <div>каб. {{doctor.doctor.cabinet}}</div>
        <div class="Description" [innerHTML]="generateDescription(doctor.doctor, doctor.timeRanges[0].start)">
        </div>
      </div>
      <div *ngFor="let time of doctor.timeRanges">
        <div
          class="rangeUnit"
          (click)="sendCommand(time, doctor.doctor)"
          *ngIf="time.type === 'available'  && time.appointments.length == 0"
          placement="top"
          #tooltip="ngbTooltip"
          [ngbTooltip]="isPast(time.start) ? 'Запись на прошедший временной интервал недоступна':'Время доступно для записи'"
          (mouseenter)="openToolTip(tooltip)"
          (mouseleave)="closeToolTip(tooltip)"
          triggers="manual"
        >
          {{time.start | timeShort:'HH:mm'}}
        </div>
        <div class="NotAvailable" *ngIf="time.type !== 'available'">
          {{typeVocab(time.type)}}
        </div>
        <div class="Appointment"
             *ngIf="time.type === 'available' && time.appointments.length !== 0"
        >
          <div class="Text">
            {{time.start | timeShort:'HH:mm'}}
          </div>

          <div
            [class]="time.appointments.length > 1 ? 'Text':'TextLong'"
            *ngFor="let app of time.appointments, let i = index"
          >
              <a
                (click)="sendCommand(time, doctor.doctor, i)"
                *ngIf="time.appointments.length === 1"
              >
                {{getPatientCaptionById(app.patientID)}}
              </a>
              <a
                *ngIf="time.appointments.length > 1"
                (click)="sendCommand(time, doctor.doctor, i)"
                [ngbTooltip]="getPatientCaptionById(app.patientID)"
              >
                {{getPatientCaptionById(app.patientID).substring(0, 4)}}...{{i === 0 ? '|':''}}
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Empty" *ngIf="(!doctorsFormatted || doctorsFormatted.length === 0) && !isDoctorsSelected">
    <div class="EmptyText">Для просмотра расписания выберите хотя бы один Доступный ресурс</div>
  </div>
  <div class="Empty" *ngIf="(!doctorsFormatted || doctorsFormatted.length === 0) && isDoctorsSelected">
    <div class="EmptyText">На выбранный период отсутствуют свободные временные интервалы для записи. Выберите другой период</div>
  </div>
</div>
<app-modal
  [modalButtonsOptions]="modalButtonsOptions"
  [details]="modalData"
  (confirmed)="appointmentSelected($event)"
  [command]="modalCommand"
>
</app-modal>

<ng-template #modalSuccess let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">ЗАПИСЬ СОЗДАНА</h4>
  </div>
</ng-template>

<ng-template #modalConfirmation let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Отмена записи</h4>
  </div>
  <div class="ConfirmContainer">
    <p>Врач и пациент будут уведомлены об отмене записи</p>
    <button class="confirm" (click)="c('confirm')">Отменить</button>
    <a class="dismiss" (click)="d('dismissed')">Вернуться к расписанию</a>
  </div>
</ng-template>
