<form #SearchElement="ngForm">
  <input placeholder="Введите текст для поиска" name="SearchValue" class="SearchBox" (keyup)="search(SearchElement)" ngModel >
</form>
<div class="PatientsSearchList" *ngIf="ResultsListEnabled">
  <div *ngFor="let elem of outputTable" (click)="emitSelected(elem)" class="PatientsSearchListItem">
    <a *ngFor="let field of displayFields">
      {{elem[field]}} <br>
    </a>
  </div>
  <a *ngIf="outputTable.length === 0">
    Совпадений не найдено
  </a>
</div>
