.PatientsSearchList {
  position: absolute;
  z-index: 999;
  background-color: #FFFFFF;
  border: 1px solid black;
  width: 200px;
}
.PatientsSearchListItem {
  border-bottom: 1px solid black;
  cursor: pointer;
}
.PatientsSearchListItem:hover {
  color: #FFFFFF;
  background-color: #000000;
}
.SearchBox {
  margin: 10px 0 0 0;
  width: 200px;
}
