<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{details.header}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('showOptions')" *ngIf="details.details">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="!details.details">
      <button
        (click)="c(button.name)"
        [class]="button.enabled? 'buttonEnabled':'buttonDisabled'"
        [disabled]="!button.enabled"
        *ngFor="let button of modalButtonsOptions, let i = index"
      >
        {{button.name}}
      </button>
    </div>
    <div *ngIf="details.details" [innerHTML]="details.details">
    </div>
  </div>
</ng-template>
