<!--<div class="Container">-->
  <!--<app-sidebar-->
    <!--class="sidebar"-->
    <!--(DateSelection)="selectDate($event)"-->
    <!--(DoctorsSelection)="selectDoctors($event)"-->
    <!--(PatientSelection)="selectPatient($event)"-->
    <!--[SelectedDoctors]="SelectedDoctors"-->
    <!--[doctors]="doctors"-->
    <!--[patients]="patients"-->
  <!--&gt;-->
  <!--</app-sidebar>-->
  <!--<app-schedule-->
    <!--class="schedule"-->
    <!--(setDaysToDisplay)="setDaysToDisplay($event)"-->
    <!--(setAppointment)="setAppointment($event)"-->
    <!--(deleteAppointment)="deleteAppointment($event)"-->
    <!--[selectedDate]="SelectedDate"-->
    <!--[patients]="patients"-->
    <!--[patientSelected]="SelectedPatient"-->
    <!--[doctorsFormatted]="doctorsFormatted"-->
  <!--&gt;-->
  <!--</app-schedule>-->
<!--</div>-->
<app-schedule-root></app-schedule-root>
