.OptionsContainer {
  border: 1px solid black;
  position: absolute;
  z-index: 999;
}
.DropdownOption{

  width: 298px;
  background-color: #e8e8eb;
  border-bottom: 1px solid black;
  text-align: center;
  cursor: pointer;
  alignment: right;
}
.DropdownOption:hover {
  color: #FFFFFF;
  background-color: #000000;
}
.OptionsList {
  width: 50px;
  height: 20px;
  display: inline-block;
  float: right;
  border: 0 solid black;
  border-radius: 3px;
  background-color: darkgreen;
  cursor: pointer;
}
.OptionsList:hover{
  background-color: darkcyan;
}
.small {
  font-size: 12px;
}
