<button #DropdownButton [disabled]="Disabled"  class="OptionsList" (click)="ToggleDropdownVisibility()" ></button>
<div #DropdownContainer>
  <div  class="OptionsContainer" *ngIf="DropdownEnabled">
    <div class="DropdownOption" *ngFor="let option of OptionsNames"  (click)="emitSelected(option)">
      <a class="small">
        {{option}}
      </a>
    </div>
  </div>
</div>

