<app-patient class="patient" *ngIf="patients" (PatientSelection)="passPatient($event)"  [patients]="patients"></app-patient>
<app-calendar class="calendar" (dateSelection)="passDate($event)" [SelectedDoctors]="SelectedDoctors"> </app-calendar>
<app-doctors *ngIf="doctors.length > 0" (doctorsSelection)="passDoctors($event)" [doctors]="doctors"></app-doctors>

