.patient {
  height: 110px;
  border-bottom: 1px solid black;
  padding: 10px 0 10px 0;
  display: block;
  width: 100%;
}
.doctors {

}
.calendar {
  width: 100%;
  border-bottom: 1px solid black;
  display: block;
}
