<div class="HeaderContainer">
  <div class="DaysButton" (click)="daysToDisplayClicked(button)"  [class]="button === daysToDisplay ? 'HeaderButtonSelected':'HeaderButton'" *ngFor="let button of buttonsConstructor">
    {{getDayCaption(button)}}
  </div>
</div>
