.HeaderContainer {
  width: 100%;
  height: 50px;
  background-color: #e6e6e6;
  text-align: right;
}
.HeaderButton {
  display: inline-block;
  width: 60px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #949494;
  cursor: pointer;
}
.HeaderButtonSelected {
  display: inline-block;
  width: 60px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #FFFFFF;
  cursor: pointer;
}

